<!--<div class="list-group" ng-click="SetItemVisible($index)" ng-repeat="q in feed track by $index">
    <a href="" class="list-group-item">
        <h4 ng-model="showItem[$index]" ng-click="isReadClick(q.id)" class="list-group-item-heading">
            <span ng-class="q.isRead ? 'readedItem' : 'unreadItem'">
                {{q.title}}
            </span>
            <span class="pull-right">
                <button class="btn btn-xs btn-info">Link</button>
                <button class="btn btn-xs btn-warning">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </h4>
        <span ng-show="showItem[$index]" value="true" class="list-group-item-text">{{q.body}}</span>

    </a>
</div>-->

<div class="container col-md-12" ng-click="SetItemVisible($index)" ng-repeat="q in feed track by $index">
    <div class="item">
        <h4 style="text-align: center">


            <span class="pull-left">
                <p ng-bind="q.pubDate | date:'MM/dd/yyyy'"></p>
            </span>


            <span class="pull-right">
                <button class="btn btn-xs btn-warning" ng-click="deleteItem(q.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
            
            
                <a href="{{q.link}}" ng-click="isReadClick(q.id)" ng-class="q.isRead ? 'readedItem' : 'unreadItem'">
                    {{q.title}}
                </a>
        </h4>
        <div class="container col-md-12">
            <div class="descrItem">
                {{q.body}}
            </div>
        </div>
    </div>
</div>